angelcommunity==2.0.0
autograd==1.6.2
bimlpa==0.1.2
cdlib==0.3.0
certifi==2023.7.22
charset-normalizer==3.2.0
cma==2.7.0
condor @ git+https://git@github.com/genisott/pycondor.git@389932cfa4d1954aef7d1b725a33a6b2ef018de2
contourpy==1.1.0
cycler==0.11.0
decorator==5.1.1
demon==2.0.6
dynetx==0.3.2
eva-lcd==0.1.1
fonttools==4.42.1
future==0.18.3
idna==3.4
igraph==0.10.6
importlib-resources==6.0.1
joblib==1.3.2
kiwisolver==1.4.5
Levenshtein==0.21.1
markov-clustering==0.0.6.dev0
matplotlib==3.7.2
moo @ git+https://github.com/leospinaf/MEAN-partite.git@636aecde82cd185c191139b60884620915ae6394
networkx==3.1
nf1==0.0.4
numpy==1.25.2
packaging==23.1
pandas==2.0.3
Pillow==10.0.0
platformdirs==3.10.0
pooch==1.7.0
psutil==5.9.5
PuLP==2.7.0
pymoo==0.5.0
pymocd==1.0.0
pyparsing==3.0.9
python-dateutil==2.8.2
python-igraph==0.10.6
python-Levenshtein==0.21.1
python-louvain==0.16
pytz==2023.3
rapidfuzz==3.2.0
requests==2.31.0
scikit-learn==1.3.0
scikit-network==0.25.0
scipy==1.11.2
seaborn==0.12.2
six==1.16.0
texttable==1.6.7
threadpoolctl==3.2.0
thresholdclustering==1.1
tqdm==4.66.1
tzdata==2023.3
urllib3==2.0.4
zipp==3.16.2